body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 input:invalid {
box-shadow: 0 0 2px 1px red;
}
 input:valid {
 box-shadow: 0 0 2px 1px green;
                      }
textarea:invalid {
box-shadow: 0 0 2px 1px red;
}
textarea:valid {
 box-shadow: 0 0 2px 1px green;
                      }   